<header>
  <div class="banner">
    <div class="profile">
      <div class="head-fucker"><a href="/"><img class="head" src="/static/images/head.png" alt=""></a></div>
      <div class="sigh">born to be aband<span class="darken">ø</span>ned.</div>
      <!-- <div class="sigh">dyiŋ for <span class="darken">ø₂</span>xygen.</div> -->
    </div>
  </div>
  <nav>
    <ul>
      <a href="/article"><li class="nav-item"><span id="nav-article" >ARTICLE</span></li></a>
      <a href="/picture"><li class="nav-item"><span id="nav-picture" >GALLERY</span></li></a>
      <a href="/message"><li class="nav-item"><span id="nav-message" >BOARD</span></li></a>
      <a href="/about"><li class="nav-item"><span id="nav-about" >ABOUT</span></li></a>
    </ul>
  </nav>
  <hr class="line"/>
</header>