<header>
  <div class="banner">
    <div class="profile">
      <div class="head-fucker"><img class="head" src="/static/images/head.png" alt=""></div>
      <div class="sigh">born to be aband<span class="darken">ø</span>ned.</div>
    </div>
  </div>
  <nav>
    <ul>
      <li class="nav-item"><span><a href="/article">ARTICLE</a></span></li>
      <li class="nav-item"><span><a href="/picture">GALLERY</a></span></li>
      <li class="nav-item"><span><a href="/message">BOARD</a></span></li>
      <li class="nav-item"><span><a href="/about">ABOUT</a></span></li>
    </ul>
  </nav>
  <hr class="line"/>
</header>