<header>
  <div class="banner">
    <div class="profile">
      <div class="head-fucker"><img class="head" src="/static/images/head.png" alt=""></div>
      <div class="sigh">born to be aband<span class="darken">ø</span>ned.</div>
    </div>
  </div>
  <nav>
    <ul>
      <li class="nav-item"><span>ARTICLE</span></li>
      <li class="nav-item"><span>GALLERY</span></li>
      <li class="nav-item"><span>BOARD</span></li>
      <li class="nav-item"><span>ABOUT</span></li>
    </ul>
  </nav>
</header>