{% extends 'common/layout.html' %}

{% block content %}
<div class="content">
  <div class="text-default"><p>
  Señor cymurus,
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur tempora, vero. Ipsum soluta error tenetur, reiciendis vel deleniti facilis velit est accusantium. Facere ex necessitatibus iure, est ullam repudiandae.
  <br>
  <br>
  <span class="text-right">tuya siempre, surumyc <span class="phi">&oslash;</span></span>
  </p></div>
</div>
{% endblock %}